# secrets
.env
.env.local
.env.*.local

# deps
node_modules/

# build
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# misc
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
